<div class="ui-g">

    <div class="ui-g-12">

        <p-growl [value]="msgsPrincipal"></p-growl>
        <h1>Gestión de Usuarios</h1>
        <div class="ui-helper-clearfix" style="width:100%">
            <label for="fId" style='font-weight: bold'>Id: </label>
            <input pInputText id="fId" style="width: 5%" [(ngModel)]="dtoFilter.id" />
            <label for="fLogin" style='font-weight: bold'>Login: </label>
            <input pInputText id="fLogin" style="width: 30%" [(ngModel)]="dtoFilter.login"/>
            <button  pButton icon="ui-icon-find-in-page"  (click)="buscar()" label="Buscar"></button>

        </div>
        <br>
        <div class="ui-helper-clearfix" style="width:100%">

            <button type="button" pButton icon="ui-icon-edit" style="float:right" (click)="editar()" label="Editar" *ngIf="activeBtnEditar==true"></button>
            <button type="button" pButton icon="ui-icon-line-weight" style="float:right" (click)="bitacora()" label="Bitacora" *ngIf="activeBtnBitacora==true"></button>
            <button type="button" pButton icon="ui-icon-delete" style="float:right" (click)="eliminar()" label="Eliminar" *ngIf="activeBtnEliminar==true"></button>
            <button type="button" pButton icon="ui-icon-add" style="float:right" (click)="nuevo()" label="Nuevo"></button>
        </div>
        <p-dataTable [value]="listaDto" selectionMode="multiple"   [(selection)]="selectedDtos"  (onRowSelect)='onRowSelect($event)'
                     (onRowUnselect)='onRowUnselect($event)' (onHeaderCheckboxToggle) = 'onHeaderCheckboxToggle($event)'

                     [paginator]="true" [rows]="10" [responsive]="true">
            <header>
                Lista de Monedas
            </header>
            <p-column [style]="{'width':'40px', 'text-align':'center'}"  selectionMode="multiple"></p-column>

            <p-column [style]="{'width':'70px', 'text-align':'center'}" field="id" header="Id"></p-column>
            <p-column [style]="{'width':'50%', 'text-align':'left'}" field="nombre" header="Nombre" [sortable]="true"></p-column>
            <p-column [style]="{'width':'20%', 'text-align':'left'}" field="login" header="Login"></p-column>
            <p-column [style]="{'width':'20%', 'text-align':'left'}" field="email" header="Email"></p-column>
            <p-column [style]="{'width':'20%', 'text-align':'left'}" field="estado" header="Estado">
                <template let-col let-data="rowData" pTemplate="body">
                    <span>{{data[col.field] | GeActivoInactivo}}</span>
                </template>
            </p-column>
            <p-column [style]="{'width':'20%', 'text-align':'left'}" field="indBloqueado" header="Bloqueado">
                <template let-col let-data="rowData" pTemplate="body">
                    <span>{{data[col.field] | GeSiNoPipe}}</span>
                </template>
            </p-column>
        </p-dataTable>
    </div>
</div>


<p-confirmDialog width="425" icon="fa fa-question-circle" #cd>
    <footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
    </footer>
</p-confirmDialog>

<usuarioForm [dto]='dto' [displayDialog]='displayDialog' [accion]='accion' (respuesta)="respuesta($event)"></usuarioForm>

<errorForm [dtoError]='dtoError' [displayDialogError]='displayDialogError' (respuesta)="respuestaError($event)"></errorForm>