<p-dialog header="Rol"  [width]="widthDialog" [(visible)]="displayDialog" [responsive]="true" [modal]="true"
          *ngIf="dto" (onBeforeHide)='onBeforeHide($event)' (onBeforeShow)='onBeforeShow($event)'>
    <p-messages [value]="msgsPrincipal"></p-messages>
    <form [formGroup]="rolForm" (ngSubmit)="save()">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <p-tabView>
                <p-tabPanel header="Datos Generales">
                    <div class="ui-grid-row" *ngIf="accion==2">
                        <div class="ui-grid-col-2"><label for="id" style='font-weight: bold'>Id</label></div>
                        {{dto.id}}
                    </div>
                    <br>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label for="fnombre"  style='font-weight: bold'>Nombre * </label></div>
                        <div class="ui-grid-col-4">
                            <input pInputText id="fnombre" formControlName="nombre" pTooltip="Ingrese el Nombre"/>
                            <control-messages [control]="rolForm.controls['nombre']"></control-messages>
                        </div>
                        <div class="ui-grid-col-2"><label for="fAdministrador" style='font-weight: bold'>Administrador* </label></div>
                        <div class="ui-grid-col-4">
                            <p-checkbox binary="true" formControlName="indAdministrador"></p-checkbox>
                            <control-messages [control]="rolForm.controls['indAdministrador']"></control-messages>
                        </div>
                    </div>
                    <br>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label for="fSys" style='font-weight: bold'>System * </label></div>
                        <div class="ui-grid-col-4">
                            <p-checkbox binary="true" formControlName="indSys"></p-checkbox>
                            <control-messages [control]="rolForm.controls['indSys']"></control-messages>
                        </div>
                        <div class="ui-grid-col-2"><label for="fEstado" style='font-weight: bold'>Estado * </label></div>
                        <div class="ui-grid-col-4">
                            <p-dropdown id="fEstado" [options]="sitEstado" formControlName="estado" [style]="{'width':'100%'}"></p-dropdown>
                            <control-messages [control]="rolForm.controls['estado']"></control-messages>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Privilegios">
                    <p-tree [value]="tree" selectionMode="checkbox" (onNodeSelect)="nodeSelect($event)" [(selection)]="selectedTree"></p-tree>
                </p-tabPanel>
            </p-tabView>
            <br>
            <br>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="comentario"  style='font-weight: bold'>Comentario</label></div>
                <div class="ui-grid-col-10">
                    <textarea rows="2" cols="30" pInputTextarea formControlName="comentario" pTooltip="Ingrese un comentario"></textarea>
                    <control-messages [control]="rolForm.controls['comentario']"></control-messages>
                </div>
                <br>
            </div>
            <br>
        </div>

        <p-accordion>
            <p-accordionTab header="Auditoria del Registro" *ngIf="accion==2">

                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"><label for="fecha"  style='font-weight: bold; font-size:11px'>Fecha Creación: </label></div>
                    <div class="ui-grid-col-4" style='font-size:12px'>
                        {{dto.fechaCreacion | date:'dd/MM/yyyy hh:mm:ss'}}
                    </div>
                    <div class="ui-grid-col-2"><label for="fecha"  style='font-weight: bold; font-size:11px'>Fecha Modificación: </label></div>
                    <div class="ui-grid-col-4" style='font-size:12px'>
                        {{dto.fecha | date:'dd/MM/yyyy hh:mm:ss'}}
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2"><label for="terminal"  style='font-weight: bold; font-size:11px'>Terminal Creacion: </label></div>
                    <div class="ui-grid-col-4" style='font-size:12px'>
                        {{dto.terminalCreacion}}
                    </div>
                    <div class="ui-grid-col-2"><label for="terminal"  style='font-weight: bold; font-size:11px'>Terminal Modificación: </label></div>
                    <div class="ui-grid-col-4" style='font-size:12px'>
                        {{dto.terminal}}
                    </div>
                </div>

            </p-accordionTab>

        </p-accordion>

        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="close()" label="Cerrar"></button>
                <button type="submit" pButton icon="fa-check" [disabled]="!rolForm.valid" label="Guardar"></button>
            </div>
        </footer>
    </form>
</p-dialog>

<p-confirmDialog width="425" icon="fa fa-question-circle" #cd>
    <footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
    </footer>
</p-confirmDialog>